**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
*.md
*.user
*.DotSettings*
.gitignore
*.http
*.json
!SkyState.Api/appsettings.json
!SkyState.Api/appsettings.*.json
**/TestResults/
SkyState.Api.UnitTests/
SkyState.Api.IntegrationTests/
SkyState.Api.EndToEndTests/
Database/
restore.binlog
